# ----------------------------------------------------------------------
# Terraform
# ----------------------------------------------------------------------
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Lambda build artifacts
**/function_payload.zip

# ----------------------------------------------------------------------
# Frontend (Next.js & Node)
# ----------------------------------------------------------------------
**/node_modules/
.next/
out/

# Environment variables (Prevent secret leaks)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ----------------------------------------------------------------------
# OS / IDE
# ----------------------------------------------------------------------
.DS_Store
.vscode/
# ----------------------------------------------------------------------
# Old application code (to be removed after migration)
# ----------------------------------------------------------------------
oldApp/
.DS_Store
